# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage
/test-results
/.nyc_output

# Next.js
/.next/
/out/
build/
dist/
.vercel/

# Production
/build

# Misc
.DS_Store
*.pem
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment Variables
.env
.env.*
!.env.example
!.env.template

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Cache
.swc/
.turbo 